.projectCard {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 500px;
  margin-left: 30px;
  /* background-color: #0a1929; */
}

.projectDetails {
  display: flex;
  flex-direction: column;
  /* background-color: greenyellow; */
  width: 400px;
  margin-top: 70px;
  margin-left: 40px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 40px;
  width: 220px;
  margin-left: 90px;
  margin-top: 10px;
}

.htmlIcon {
  margin-left: 20px;

  color: #e44d26;
}

.cssIcon {
  margin-left: 20px;

  color: #42a5f5;
}

.javaScriptIcon {
  margin-left: 20px;
  color: #ffca28;
}

.reactIcon {
  margin-left: 20px;
  margin-top: 5px;
  color: #00d1f7;
}

.bootstrapIcon {
  margin-top: 5px;
  margin-left: 10px;
  color: #6e10ea;
}

.linkToGithub {
  color: white;
  transition: 0.5s ease-in-out;
  margin-top: 5px;
}

.linkToGithub:hover {
  cursor: pointer;
  color: black;
  margin-top: 0px;
}

.projectScreenshot {
  margin-top: 50px;
  margin-right: 10px;
}

.projectScreenshot iframe {
  height: 400px;
  width: 750px;
  object-fit: contain;
  border: 0;
}
