.projectCard {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 500px;
  margin-left: 30px;
  /* background-color: #0a1929; */
}

.projectDetails {
  display: flex;
  flex-direction: column;
  /* background-color: greenyellow; */
  width: 500px;
  margin-top: 70px;
  margin-left: 30px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  width: 200px;
  margin-left: 150px;
  margin-top: 10px;
}

.htmlIcon {
  margin-left: 20px;

  color: #e44d26;
}

.cssIcon {
  margin-left: 20px;

  color: #42a5f5;
}

.javaScriptIcon {
  margin-left: 20px;
  color: #ffca28;
}

.reactIcon {
  margin-left: 20px;
  color: #00d1f7;
}

.bootstrapIcon {
  margin-left: 10px;
  color: #6e10ea;
}

.projectScreenshot {
  margin-top: 50px;
  margin-right: 30px;
}

.projectScreenshot img {
  height: 400px;
  width: 600px;
  object-fit: contain;
}
