.seeMore {
  position: relative;
  left: 450px;
  top: 400px;
  width: 500px;
  /* height: 300px; */
}
.contactLinks {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  font-size: 30px;
  z-index: 2;
  margin-top: 10px;
}

.contactLinks:hover {
  cursor: pointer;
}

.githubPageLink {
  color: #0a1929;
  transition: ease-in-out 0.5s;
  margin-top: 5px;
}

.linkedInPageLink {
  transition: ease-in-out 0.5s;
  color: #0073b2;
  margin-top: 5px;
}

.emailLink {
  transition: ease-in-out 0.5s;
  color: brown;
  margin-top: 5px;
}

.githubPageLink:hover {
  cursor: pointer;
  color: rgb(161, 152, 23);
  margin-top: 0px;
}

.linkedInPageLink:hover {
  cursor: pointer;
  color: rgb(247, 93, 37);
  margin-top: 0px;
}

.emailLink:hover {
  cursor: pointer;
  color: rgb(37, 247, 247);
  margin-top: 0px;
}
