.footerContainer {
  width: 100%;
  /* background-color: brown; */
  height: 600px;
  z-index: 300;
  margin-top: 20px;
}

.footerStartProj {
  position: relative;
  top: 80px;
  margin: 0 auto;
  max-width: 70%;
  min-height: 100px;
  background-color: #4d5a6f;
  border-radius: 10px;
  box-shadow: 0 3px 5px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
}

.startProject {
  height: 40px;
}

.needFreelance {
  height: 40px;
  max-width: 35%;
  margin-bottom: 20px;
}

.letsDoThis {
  height: 60px;
  width: 180px;
  border: 3px solid white;
  border-radius: 50px;
  transition: 0.7s ease-in-out;
}

.letsDoThis:hover {
  background-color: white;
  cursor: pointer;
}

.letsDoThis:hover > .letsDoThisFont {
  color: #4d5a6f !important;
}

.footerBackground {
  height: 500px;
  width: 100%;
  overflow-y: hidden;
  margin: 20px auto;
}

.contactMe {
  height: 100%;
  max-width: 30%;
  /* margin-top: 80px; */
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: brown; */
  /* overflow-y: hidden; */
}

.logo {
  height: 12vmin;
  /* margin-top: 20px; */
  animation: App-logo-spin 10s linear infinite normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linksToLinkedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  /* background-color: tomato; */
  font-size: 50px;
  color: white;
  height: 100px;
  margin-top: 20px;
  z-index: 800;
}

.linkToPage:hover {
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
