.testimonialContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  /* background-color: orangered; */
  margin-left: 30px;
}
.testimonials {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  /* background-color: lawngreen; */
  display: flex;
  justify-content: space-evenly;
}
.testimonyText {
  width: 70%;
}

.quoteLeft,
.quoteRight {
  position: relative;
  font-size: 30px;
}

.quoteLeft {
  bottom: 10px;
  right: 30px;
}

.quoteRight {
  position: relative;
  top: 40px;
  right: 20px;
}
