.testimonialContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  /* background-color: orangered; */
  margin-left: 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.testimonials {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  /* background-color: lawngreen; */
  display: flex;
  justify-content: space-evenly;
}

.testimonyTextContainer {
  width: 70%;
}

.quoteLeft, .quoteRight {
  position: relative;
  font-size: 30px;
}

.quoteLeft {
  bottom: 10px;
  right: 30px;
}

.quoteRight {
  position: relative;
  top: 40px;
  right: 20px;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .testimonialContainer {
    margin-left: 0px;
    width: 100%;
  }
  .testimonyText {
    margin-right: 20px;
  }
  .quoteRight {
    top: 150px;
  }
  .author {
    margin-left: 10px;
  }
  .authorNameMediaQuery {
    margin-left: 200px !important;
  }
  .credentialsNameMediaQuery {
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 765px) and (max-width: 1022px) {
  .authorNameMediaQuery {
    margin-left: 450px !important;
  }
  .credentialsNameMediaQuery {
    margin-left: 380px !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .testimonialContainer {
    margin-left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 2560px) {
  .testimonyText {
    font-size: 30px !important;
  }
  .authorNameMediaQuery, .credentialsNameMediaQuery {
    font-size: 25px !important;
  }
  .testimonialContainer {
    /* background-color: brown; */
    height: 450px;
    /* margin-bottom: 30px; */
  }
}
