#aboutMe {
  overflow: visible;
  padding: 80px 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.descriptionOfMe {
  width: 40%;
  left: 60px;
  position: relative;
  top: 80px;
  text-align: center;
}

.pictureOfMe {
  position: relative;
  top: 20px;
  right: 180px;
  background: inherit;
  height: 500px;
  width: 300px;
}

.pictureOfMe img {
  height: 450px;
  width: 250px;
  margin-left: 25px;
  margin-top: 25px;
  object-fit: cover;
}

.downloadCV {
  position: relative;
  top: 30px;
  left: 100px;
  height: 40px;
  background: white;
  /* background: linear-gradient(to left, white 50%, #0a1929 50%) right; */
  background-size: 200%;
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
}

.pillHighlightBlue {
  background: linear-gradient(to right, white 50%, #0a1929 50%) left !important;
  background-position: right !important;
  background-size: 200% !important;
  transition: 0.5s ease-out !important;
}

.pillHighlightGreen {
  background: linear-gradient(to right, white 50%, #161c14 50%) left !important;
  background-position: right !important;
  background-size: 200% !important;
  transition: 0.5s ease-out !important;
}

.pillHighlightPink {
  background: linear-gradient(to right, white 50%, #4f2f2f 50%) left !important;
  background-position: right !important;
  background-size: 200% !important;
  transition: 0.5s ease-out !important;
}

.pillHighlightConcrete {
  background: linear-gradient(to right, white 50%, #262f35 50%) left !important;
  background-position: right !important;
  background-size: 200% !important;
  transition: 0.5s ease-out !important;
}

.downloadCV:hover {
  cursor: pointer;
  background-position: left;
}

.testimonyAhmed {
  position: relative;
  top: 130px;
  /* left: 10px; */
  /* background-color: orangered; */
}
.particles {
  position: absolute;
  z-index: 100;
}
